# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.rogalik.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\vetro\rogalik\.idea\.idea.rogalik\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
